{% extends "home/base.html" %}
{% load static %}

{% block title %}{{ product.title }}{% endblock %}

{% block desc %}{{ product.description }}{% endblock %}
{% block kw %}{{ product.keywords }}{% endblock %}

{% block content %}

    <div class="container my-5">

        <div class="row g-5">

            <!-- GALLERY -->
            <div class="col-lg-6">
                {% include "product/includes/product_gallery.html" %}
            </div>

            <!-- PRODUCT INFO -->
            <div class="col-lg-6">
                {% include "product/includes/product_info.html" %}
            </div>

        </div>

        <!-- DETAIL + COMMENTS -->
        <div class="row mt-5 g-4">

            <!-- PRODUCT DETAIL + COMMENTS LIST -->
            <div class="col-lg-8">
                {% include "product/includes/product_tabs.html" %}
            </div>

            <!-- COMMENT FORM -->
            <div class="col-lg-4">
                {% include "product/includes/comment_form.html" %}
            </div>

        </div>

    </div>

    <!-- IMAGE LIST FOR JS -->
    <script>
        const imageList = [
            "{{ product.image.url }}",
            {% for rs in images %}
                "{{ rs.image.url }}",
            {% endfor %}
        ];

        const commentUrl = "{% url 'addcomment' product.id %}";
    </script>

    {{ variants_json|json_script:"variant-data" }}

    <script src="{% static 'js/product_detail.js' %}"></script>

{% endblock %}